<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="SwToolsMapper">  
  <select id="selectSwToolsList">
      SELECT 
        name
        , password
        , title
        , content
        , imagepath
        , reg_date
        , reg_user
        , update_date
      FROM react.react_swtool
      <if test="is_Reg_user != null && is_Reg_user != ''">
        WHERE reg_user = #{is_Email}
      </if>
      ORDER BY update_date DESC
  </select>

  <insert id="insertSwToolsInfo">
    INSERT INTO react.note
    (
        name
        , password
        , title
        , content
        <if test="is_MainImg != null && is_MainImg != ''">
          , imagepath
        </if>
        , reg_date
        , reg_user
        , update_date
    )
    VALUES (
      CONCAT('USW', DATE_FORMAT(now(), '%Y%m%d%H%i%s'))
      , #{is_Name}
      , #{is_Password}      
      , #{is_Title}
      , #{is_Content}
      <if test="is_MainImg != null && is_MainImg != ''">
        , #{is_MainImg}
      </if>
      , DATE_FORMAT(now(), '%Y%m%d%H%i%s')
      , #{is_Email}
      , DATE_FORMAT(now(), '%Y%m%d%H%i%s')
    )
  </insert>  

  <update id="updateSwToolsInfo"> 
    UPDATE react.note
    SET
        name = #{is_Name}
        , password = #{is_Password}  
        , title = #{is_Title}
        , content = #{is_Content}
        <if test="is_MainImg != null && is_MainImg != ''">
          , imagepath = #{is_MainImg}
        </if>
        , update_date = DATE_FORMAT(now(), '%Y%m%d%H%i%s')
    WHERE reg_user = #{is_Email}
  </update>

  <delete id="deleteSwToolsInfo">
    DELETE FROM react.note
    WHERE reg_user = #{is_Email}
  </delete>
</mapper>
